.account{
    max-width: 100%;
}

.account h5{
    margin-bottom: 2px;
}

.account p{
    font-size: 14px
}

.account h6{
    margin-bottom: 15px;
}

.account .input-lable {
    display: flex;
    flex-direction: column-reverse
  }
  .account .input-lable label {
    transition: all 0.3s ease;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .account .input-lable input:focus{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border : 1px solid var(--second-color)
  }

  .account .input-lable input:focus +label{
    color: var(--second-color)
  }