<!-- Start Footer Section -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-box-one">
                    <h3>Golden<span>Food</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-box-two">
                    <h4>Helpful Links</h4>
                    <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">How it work</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Benefits</a></li>
                    <li><a href="#">Pricing policy</a></li>
                    <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-box-three">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li>54958 Levo Road Near Read Fort</li>
                        <li>Phone: 012-12345678</li>
                        <li>Email: <a href="#">mounaim.lucy@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Section -->