/* Start slider section */

.slider{
    background: url("../../../assets/img/slider/slider01.jpg") no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 100vh;
    position: relative;
}

.slider .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(37, 46, 53, 0.5);
    z-index: 1;
}

.slider .slider-content{
    position: absolute;
    top:50%;
    right: 10%;
    width: 50%;
    min-height: 30px;
    transform: translateY(-50%);
    z-index: 2;
}

.slider .slider-content h2{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
    text-transform: Uppercase;
    -webkit-text-shadow: 0 1px 2px rgba(0,0,0,.6);
            text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.slider .slider-content p{
    color: #fff;
    font-size: 20px;
}

.slider .slider-content input[type = "button"]{
    color: #fff;
    background-color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
}
/* End slider section */