/* Start CopyRight Section   */
.copyright{
	border-top: 1px solid rgba(0,0,0,.125);
	padding: 20px
}

.copyright p{
	margin: 0;
	text-transform: uppercase;
}

.copyright .fab {
    color:#b5b5b5;
	transition: color .5s ease-in-out;
	font-size: 28px;
}

.copyright .fa-facebook:hover{
	color:#3b5999
}

.copyright .fa-twitter:hover{
	color:#55acee
}

.copyright .fa-google-plus:hover{
	color:#dd4b39
}

.copyright .fa-pinterest:hover{
	color:#bd081c
}

.copyright .fa-instagram:hover{
	color:#e4405f
}
/* End CopyRight Section */