<!-- Start CopyRight Section -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>copyright 2020 Oldenstore | all right reserved</p>
            </div>
            <div class="col-md-6 text-right">
            <a href="#"><i class="fab fa-facebook fa-fw"></i></a>
            <a href="#"><i class="fab fa-twitter  fa-fw"></i></a>
            <a href="#"><i class="fab fa-google-plus fa-fw"></i></a>
            <a href="#"><i class="fab fa-pinterest fa-fw"></i></a>
            <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End CopyRight Section -->