<div class="payment-method">
    <h3>Payment method</h3>
    <form #form="ngForm" (ngSubmit)="formSubmit(form)" novalidate>
        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="online" type="radio" [value]="false" class="custom-control-input" required (change)="offline()" [ngModel]="isOnline">
                <label class="custom-control-label" for="credit">Offline</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="online" type="radio" [value]="true" class="custom-control-input" required (change)="online()" [ngModel]="isOnline">
                <label class="custom-control-label" for="debit">Online</label>
            </div>
        </div>
        <div class="Credit-info" [ngClass]="{'hidden' : !isOnline}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="cc-name">Name on card</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" [required]="isOnline" ngModel name="nameOnCard">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cc-number">Credit card number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" [required]="isOnline" ngModel name="cardNumber">
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Expiration</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" [required]="isOnline" ngModel name="expiration">
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="000" [required]="isOnline" ngModel name="cvv">
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>
        </div>
        <button class="btn ml-auto btn-sm" type="submit" [disabled]="form.invalid">Confirmed</button>
    </form>
</div>

<!--
    <div class="Credit-info" [ngClass]="{'hidden' : !isOnline}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="cc-name">Name on card</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" [required]="!isOnline">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cc-number">Credit card number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" [required]="!isOnline">
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Expiration</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" [required]="!isOnline">
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="000" [required]="!isOnline">
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>
        </div>
-->