/*Start change-password section*/
.change-password{
    max-width: 100%;
}

.change-password h5{
    margin-bottom: 25px;
}

.change-password .input-lable {
    display: flex;
    flex-direction: column-reverse
}
  
.change-password .input-lable label {
    transition: all 0.3s ease;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}

.change-password .input-lable input:focus{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border : 1px solid var(--second-color)
}

.change-password .input-lable input:focus +label{
    color: var(--second-color)
}

/*End change-password section*/