<!-- Start change-password section -->
<div class="change-password">
    <h5>Change the password</h5>
    <form action="" #form="ngForm">
            <div class="mb-3">
                <div class="input-lable">
                    <input type="password" class="form-control form-control-sm"  name="firstName" required #firstnameVar="ngModel" ngModel>
                    <label>Current Password</label>
                </div>
                <div class="invalid-feedback d-block" *ngIf="firstnameVar.touched && firstnameVar.errors?.required">
                    Valid Current Password is required.
                </div>
            </div>
            <div class="mb-3">
                <div class="input-lable">
                    <input type="password" class="form-control form-control-sm" name="lastName" required  #lastnameVar="ngModel" ngModel >
                    <label>New password</label>
                </div>
                <div class="invalid-feedback d-block" *ngIf="lastnameVar.touched && lastnameVar.errors?.required">
                    Valid New password is required.
                </div>
            </div>
            <div class="mb-3">
                <div class="input-lable">
                    <input type="password" class="form-control form-control-sm" name="email" required email #emailVar="ngModel" ngModel>
                    <label>Confirmation</label>
                </div>
                <div class="invalid-feedback d-block" *ngIf="emailVar.touched && emailVar.errors?.required">
                    Valid Confirmation is required.
                </div>
            </div>

        <button class="btn ml-auto btn-sm btn-block btn-success" type="submit" [disabled]="form.invalid">Saving changes</button>
    </form>  
</div>
<!-- End customer section -->
