/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --main-color : #fed136;
    --second-color : #08526d;
}

* {
    font-family: Poppins
}